@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-display: swap; 
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('../../public/fonts/poppins-v20-latin-regular.woff2') format('woff2'); 
}

/* nunito-regular - latin */
@font-face {
  font-display: swap; 
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: url('../../public/fonts/nunito-v25-latin-regular.woff2') format('woff2'); 
}
/* nunito-500 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 500;
  src: url('../../public/fonts/nunito-v25-latin-500.woff2') format('woff2'); 
}
/* nunito-700 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: url('../../public/fonts/nunito-v25-latin-700.woff2') format('woff2'); 
}
/* nunito-900 - latin */
@font-face {
  font-display: swap; 
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 900;
  src: url('../../public/fonts/nunito-v25-latin-900.woff2') format('woff2'); 
}

body {
  color: #a4acc4;
}

.row-home {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  margin-left: calc(var(--bs-gutter-x)*-.5);
  margin-right: calc(var(--bs-gutter-x)*-.5);
  margin-top: calc(var(--bs-gutter-y)*-1);
}